body,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  background: #eee;
}

a {
  color: green;
  text-decoration:none;
} a:hover {
  text-decoration: underline
}

p {
  padding: 0.25em 0;
}

small {
  font-size:80%;
}



#pageheader
  h1>small {
  font-family: cursive;
  font-size: 0.75em;
}

#pageheader
  nav {
  display: flex;
  margin: auto;
  margin-right:0
}

#pageheader
nav
  a {
  color: wheat;
} #pageheader nav a:hover {
  border-bottom: 1px solid green;
}

#pageheader
  nav
    .selected
      a {
  border-bottom: 2px solid green;
}


#pageheader
  nav
    li {
  display: inline-block;
  margin: 0 0.5em;
}

#content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: stretch;
}

main {
  padding: 0 1em;
  flex-grow: 1;
}

h1 {
  font-size: 1.4em;
  padding: 0 0 1em;
}

h2 {
  font-size: 1.2em;
  padding: 0 0 1em;
}

h3 {
  font-size: 1.1em;
  padding: 0 0 0.5em;
}


#contentblock {
  max-width: 60em;
  margin: 0 auto 2em;
}

#headerblock {
  flex-shrink: 0;
}

#pageheader, main, footer {
  flex-shrink: 0;
}

#pageheader {
  background: black;
  color: wheat;
  border-bottom: thick double gold;
  padding: 1em 0 0;
  margin: 0 0 2em;
}

#pageheader
#headerblock {
  display: flex;
  max-width: 60em;
  margin: 0 auto;
}

#pageheader
  h1 {
  font-size: 1.2em;
  font-family: serif;
}
footer {
  background: black;
  color: wheat;
  border-top: thick double gold;
}

.cta-block,  .more_block {
  margin: 1em 0;
}

.cta-block a {
  color: #333;
  display: inline-block;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0.45em;
}

.cta-block a:hover {
  background: lightgray;
}

#resultstable {
  border-collapse: collapse;
  box-shadow: 0px 0px 1px #555;
  border-radius: 8px 8px 0 0;
}

#resultstable
  thead {
  color: #fff;
  font-family: Times New Roman, serif;
  font-weight: bold;
  vertical-align: baseline;
}

#resultstable
  thead
    tr
      th:first-child {
        border-radius: 8px 0 0;
      }
#resultstable
  thead
    tr
      th:last-child {
        border-radius: 0 8px 0 0;
      }


#resultstable
td, th {
  padding: 0.5rem;
}

#resultstable
th {
  background: grey;
  white-space: nowrap;
}

#resultstable
  tbody
    td {
  vertical-align: bottom;
}

#resultstable
  tbody
    tr:nth-child(even) {
  background: lightgray;
}

#resultstable
  tbody
    tr:hover {
  background: lightsteelblue;
}

#resultstable
  tfoot {
  background: grey;
  color: #fff;
  text-align: right;
}

#resultstable
  tfoot
    td {
  padding: 0.3rem;
}

#searchinfo {
  margin: 0 0 1em;
}

.orderby a {
  color: #333;
  font-size: 0.7em;
}

.orderby a.active {
  color: ivory;
  text-shadow: 0 0 3px gold;
}
