{% extends "base.html" %}

{% block content %}
  <section id="botd">
    <header>
      <h2>Beer of the Day for Wednesday, September 12, 2018</h2>
    </header>

    <h3>Cutthroat Porter<br/>
      <small>
      <em>Odell Brewing</em><br />
      4.8% ABV | Porter (Irish Ale)
      </small>
    </h3>

    <p>This is one of our rare lagers brewed in the style of the German Heiliges Geist Bock, or Holy Ghost Bock. The name refers to the lighter nature of the beer as opposed to the darker and heavier Doppel Bock and Mai Bock also brewed during the spring in Germany. There is a rich malt flavor, a firm German style lager head, and a clean lagered finish to this beer.  Available on draft or in 12 oz. bottles.</p>

    <div class="cta-block">
      <a href="/api/addToLibrary/?itemid=1234" class="cta-block">📖 Add to library</button>
    </div>

  </section><!--botd-->
{% endblock %}
