{% extends "base.html" %}

{% block content %}
<header>
  <h1>Explore beers</h1>
</header>

<div id="searchinfo">
  <p>Showing results for All Beers ({{pagecontrols.resultscount}} records)</p>
  <p>Page {{pagecontrols.page}} of {{pagecontrols.pages}} </p>
  <p>
    {% if pagecontrols.prev %}
    <a href="{{pagecontrols.prev}}">« Previous</a>
    {% endif %}
    {% if pagecontrols.next %}
    <a href="{{pagecontrols.next}}">Next »</a>
    {% endif %}
  </p>
</div>

<table id="resultstable">
  <thead>
    <tr>
      <th>
        Beer
        <span class="orderby">
          <a href="{{pagecontrols.orderlink}}" {%if pagecontrols.orderarg == 'beer'%} class="active" {% endif %}>▲</a>
          <a href="{{pagecontrols.orderlink}}&orderby=-beer" {%if pagecontrols.orderarg == '-beer'%} class="active" {% endif %}>▼</a>
        </span>
      </th>
      <th>
        Category and Style
        <span class="orderby">
          <a href="{{pagecontrols.orderlink}}&orderby=category" {%if pagecontrols.orderarg == 'category'%} class="active" {% endif %}>▲</a>
          <a href="{{pagecontrols.orderlink}}&orderby=-category" {%if pagecontrols.orderarg == '-category'%} class="active" {% endif %}>▼</a>
        </span>
      </th>
      <th>ABV</th>
      <th>Brewery
        <span class="orderby">
          <a href="{{pagecontrols.orderlink}}&orderby=brewery"{%if pagecontrols.orderarg == 'brewery'%} class="active" {% endif %}>▲</a>
          <a href="{{pagecontrols.orderlink}}&orderby=-brewery"{%if pagecontrols.orderarg == '-brewery'%} class="active" {% endif %}>▼</a>
        </span>
      </th>
      <th>
        State or Region
        <span class="orderby">
          <a href="{{pagecontrols.orderlink}}&orderby=region"{%if pagecontrols.orderarg == 'region'%} class="active" {% endif %}>▲</a>
          <a href="{{pagecontrols.orderlink}}&orderby=-region"{%if pagecontrols.orderarg == '-region'%} class="active" {% endif %}>▼</a>
        </span>
      </th>
      <th>
        Country
        <span class="orderby">
          <a href="{{pagecontrols.orderlink}}&orderby=country"{%if pagecontrols.orderarg == 'country'%} class="active" {% endif %}>▲</a>
          <a href="{{pagecontrols.orderlink}}&orderby=-country"{%if pagecontrols.orderarg == '-country'%} class="active" {% endif %}>▼</a>
        </span>
      </th>
    </tr>
    <tr>
    </tr>
  </thead>
  <tbody>
    {% for r in results %}
    <tr>
      <td class="beername"><a href="#">{{ r.beer }}</a></td>
      <td>{% if r.category %}<a href="#">{{r.category.name}}</a>, <a href="#">{{r.style.name}}</a>{% endif %}</td>
      <td>4.5</td>
      <td>{% if r.brewery.name %}<a href="#">{{ r.brewery.name }}</a>{% endif %}</td>
      <td>{% if r.brewery.state %}<a href="#">{{ r.brewery.state }}</a>{% endif %}</td>
      <td>{% if r.brewery.country %}<a href="#">{{ r.brewery.country }}</a>{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot id="tfoot">
    <tr>
      <td colspan="6">
        Page {{pagecontrols.page}} of {{pagecontrols.pages}}
      </td>
    </tr>
    <tr>
      <td colspan="6">
        {% if pagecontrols.prev %}
        <a href="{{pagecontrols.prev}}#tfoot">« Previous</a>
        {% endif %}
        {% if pagecontrols.next %}
        <a href="{{pagecontrols.next}}#tfoot">Next »</a>
        {% endif %}
      </td>
    </tr>
  </tfoot>
</table>
{% endblock %}
