{% extends "base.html" %}

{% block content %}
<header>
  <h1>Explore beers</h1>
</header>

<div id="searchinfo">
  <p>Showing results for All Beers ({{results.total}} records)</p>
  <p>Page {{results.page}} of {{results.pages}} </p>
  <p>
    {% if pager.prev %}
    <a href="{{pager.prev}}">« Previous</a>
    {% endif %}
    {% if pager.next %}
    <a href="{{pager.next}}">Next »</a>
    {% endif %}
  </p>
</div>

{% if results.items %}
<form method="get" action="/explore">
<table id="resultstable">
  <thead>
    <tr>
      <th>
        Beer
        <span class="orderby">
          <a href="{{pager.orderlink}}" {%if ordered_by == 'beer'%} class="active" {% endif %}>▲</a>
          <a href="{{pager.orderlink}}&orderby=-beer" {%if ordered_by == '-beer'%} class="active" {% endif %}>▼</a>
        </span>
      </th>
      <th>
        Category and Style
        <span class="orderby">
          <a href="{{pager.orderlink}}&orderby=category" {%if ordered_by == 'category'%} class="active" {% endif %}>▲</a>
          <a href="{{pager.orderlink}}&orderby=-category" {%if ordered_by == '-category'%} class="active" {% endif %}>▼</a>
        </span>
      </th>
      <th>ABV</th>
      <th>Brewery
        <span class="orderby">
          <a href="{{pager.orderlink}}&orderby=brewery"{%if ordered_by == 'brewery'%} class="active" {% endif %}>▲</a>
          <a href="{{pager.orderlink}}&orderby=-brewery"{%if ordered_by == '-brewery'%} class="active" {% endif %}>▼</a>
        </span>
      </th>
      <th>
        Country
        <span class="orderby">
          <a href="{{pager.orderlink}}&orderby=country"{%if ordered_by == 'country'%} class="active" {% endif %}>▲</a>
          <a href="{{pager.orderlink}}&orderby=-country"{%if ordered_by == '-country'%} class="active" {% endif %}>▼</a>
        </span>
      </th>

      <th>
        State or Region
        <span class="orderby">
          <a href="{{pager.orderlink}}&orderby=region"{%if ordered_by == 'region'%} class="active" {% endif %}>▲</a>
          <a href="{{pager.orderlink}}&orderby=-region"{%if ordered_by == '-region'%} class="active" {% endif %}>▼</a>
        </span>
      </th>
    </tr>
    <tr id="filter_row">
      <th>&nbsp;</th>
      <th>
        <input type="checkbox" id="filter_category" />
        <label for="filter_category">Show Filters</label>
        <div>
          <span>
            <label>
            <input
              type="checkbox"
              name="filterby"
              {%if not filtered_by or 'category|British Ale' in filtered_by%}checked{% endif %}
              value="category|British Ale"/>
            British Ale</label>
          </span>
          <span>
            <label>
            <input
              type="checkbox"
              name="filterby"
              {% if not filtered_by or 'category|Irish Ale' in filtered_by%}checked{% endif %}
              value="category|Irish Ale"/>
            Irish Ale</label>
          </span>
          <span>
            <label>
            <input
              type="checkbox"
              name="filterby"
              {% if not filtered_by or 'category|North American Ale' in filtered_by%}checked{% endif %}
              value="category|North American Ale"/>
            North American Ale</label>
          </span>
          <span>
            <label>
            <input
              type="checkbox"
              name="filterby"
              {% if not filtered_by or 'category|German Ale' in filtered_by%}checked{% endif %}
              value="category|German Ale"/>
            German Ale</label>
          </span>
          <span>
            <label>
            <input
              type="checkbox"
              name="filterby"
              {% if not filtered_by or 'category|Belgian and French Ale' in filtered_by%}checked{% endif %}
              value="category|Belgian and French Ale"/>
            Belgian and French Ale</label>
          </span>
          <span>
            <label>
            <input
               type="checkbox"
               name="filterby"
               {% if not filtered_by or 'category|German Lager' in filtered_by%}checked{% endif %}
               value="category|German Lager"/>
            German Lager</label>
          </span>
          <span>
            <label>
            <input
              type="checkbox"
              name="filterby"
              {% if not filtered_by or 'category|North American Lager' in filtered_by%}checked{% endif %}
              value="category|North American Lager"/>
            North American Lager</label>
          </span>
          <span>
            <label>
            <input
              type="checkbox"
              name="filterby"
              {% if not filtered_by or 'category|Other Lager' in filtered_by%}checked{% endif %}
              value="category|Other Lager"/>
            Other Lager</label>
          </span>
          <span>
            <label>
            <input
              type="checkbox"
              name="filterby"
              {% if not filtered_by or 'category|Other Style' in filtered_by%}checked{% endif %}
              value="category|Other Style" />
            Other Style</label>
          </span>
          <span>
            <button type="submit">Apply Filters</button>
          </span>
        </div>
      </th>
      <th></th>
      <th>
      </th>
      <th>
        <input type="checkbox" id="filter_country" />
        <label for="filter_country">Show Filters</label>
        <div>
          <span>
            <label>
            <input
               type="checkbox"
               name="filterby"
              {% if not filtered_by or 'countries|United States;Canada' in filtered_by%}checked{% endif %}
              value="countries|United States;Canada" />
            US and Canada</label>
          </span>
          <span>
            <label>
            <input
               type="checkbox"
               name="filterby"
              {% if not filtered_by or 'countries|Germany' in filtered_by%}checked{% endif %}
              value="countries|Germany" />
            Germany</label>
          </span>
          <span>
            <label>
            <input
               type="checkbox"
               name="filterby"
              {% if not filtered_by or 'countries|Belgium' in filtered_by%}checked{% endif %}
              value="countries|Belgium" />
            Belgium</label>
          </span>
          <span>
            <label>
            <input
               type="checkbox"
               name="filterby"
              {% if not filtered_by or 'countries|United Kingdom,Ireland' in filtered_by%}checked{% endif %}
              value="countries|United Kingdom;Ireland" />
            UK and Ireland</label>
          </span>
          <span>
            <label>
            <input
               type="checkbox"
               name="filterby"
              {% if not filtered_by or 'countries|Australia;New Zealand' in filtered_by%}checked{% endif %}
              value="countries|Australia;New Zealand" />
            Australia and New Zealand</label>
          </span>
          <span>
            <label>
            <input
               type="checkbox"
               name="filterby"
              {% if not filtered_by or 'countries|Austria;Croatia;Czech Republic;Denmark;Estonia;Finland;France;Greece;Hungary;Italy;Latvia;Lithuania;Macedonia, the Former Yugoslav Republic of;Netherlands;Norway;Poland;Portugal;Russia;Serbia and Montenegro;Slovakia;Spain;Sweden;Switzerland' in filtered_by%}checked{% endif %}
              value="countries|Austria;Croatia;Czech Republic;Denmark;Estonia;Finland;France;Greece;Hungary;Italy;Latvia;Lithuania;Macedonia, the Former Yugoslav Republic of;Netherlands;Norway;Poland;Portugal;Russia;Serbia and Montenegro;Slovakia;Spain;Sweden;Switzerland" />
            Other, Europe</label>
          </span>
          <span>
            <label>
            <input
               type="checkbox"
               name="filterby"
              {% if not filtered_by or 'countries|Argentina;Aruba;Belize;Brazil;China;Colombia;Cuba;Egypt;El Salvador;French Polynesia;Guatemala;Honduras;India;Israel;Jamaica;Japan;Kenya;Korea, Republic of;Macao;Mauritius;Mexico;Myanmar;Namibia;Panama;Philippines;Sierra Leone;Sri Lanka;Taiwan, Province of China;Thailand;Togo;Viet Nam' in filtered_by%}checked{% endif %}
              value="countries|Argentina;Aruba;Belize;Brazil;China;Colombia;Cuba;Egypt;El Salvador;French Polynesia;Guatemala;Honduras;India;Israel;Jamaica;Japan;Kenya;Korea, Republic of;Macao;Mauritius;Mexico;Myanmar;Namibia;Panama;Philippines;Sierra Leone;Sri Lanka;Taiwan, Province of China;Thailand;Togo;Viet Nam" />
            Other, World</label>
          </span>
          <span>
            <button type="submit">Apply Filters</button>
          </span>
        </div>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for r in results.items %}
    <tr>
      <td class="beername"><a href="#">{{ r.name }}</a></td>
      <td>{% if r.category %}<a href="#">{{r.category.name}}</a>, <a href="#">{{r.style.name}}</a>{% endif %}</td>
      <td>4.5</td>
      <td>{% if r.brewery.name %}<a href="#">{{ r.brewery.name }}</a>{% endif %}</td>
      <td>{% if r.brewery.country %}<a href="#">{{ r.brewery.country }}</a>{% endif %}</td>
      <td>{% if r.brewery.state %}<a href="#">{{ r.brewery.state }}</a>{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot id="tfoot">
    <tr>
      <td colspan="6">
        Page {{results.page}} of {{results.pages}}
      </td>
    </tr>
    <tr>
      <td colspan="6">
        {% if pager.prev %}
        <a href="{{pager.prev}}#tfoot">« Previous</a>
        {% endif %}
        {% if pager.next %}
        <a href="{{pager.next}}#tfoot">Next »</a>
        {% endif %}
      </td>
    </tr>
  </tfoot>
</table>
</form>
{% endif %}
{% endblock %}
